<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SAClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Login Servlet</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>pt.saclient.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Logout Servlet</description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>pt.saclient.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get Candidates</description>
    <display-name>GetCandidates</display-name>
    <servlet-name>GetCandidates</servlet-name>
    <servlet-class>pt.saclient.servlet.GetCandidates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCandidates</servlet-name>
    <url-pattern>/getcandidates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get Votes By Candidate</description>
    <display-name>GetVotesByCandidate</display-name>
    <servlet-name>GetVotesByCandidate</servlet-name>
    <servlet-class>pt.saclient.servlet.GetVotesByCandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVotesByCandidate</servlet-name>
    <url-pattern>/getvotesbycandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get Votes Of Day</description>
    <display-name>GetVotesOfDay</display-name>
    <servlet-name>GetVotesOfDay</servlet-name>
    <servlet-class>pt.saclient.servlet.GetVotesOfDay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVotesOfDay</servlet-name>
    <url-pattern>/getvotesofday</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get Votes Changed Of Day</description>
    <display-name>GetVotesChangedOfDay</display-name>
    <servlet-name>GetVotesChangedOfDay</servlet-name>
    <servlet-class>pt.saclient.servlet.GetVotesChangedOfDay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVotesChangedOfDay</servlet-name>
    <url-pattern>/getvoteschangedofday</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Set Vote</description>
    <display-name>SetVote</display-name>
    <servlet-name>SetVote</servlet-name>
    <servlet-class>pt.saclient.servlet.SetVote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetVote</servlet-name>
    <url-pattern>/setvote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get Vote Of User</description>
    <display-name>GetVoteOfUser</display-name>
    <servlet-name>GetVoteOfUser</servlet-name>
    <servlet-class>pt.saclient.servlet.GetVoteOfUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVoteOfUser</servlet-name>
    <url-pattern>/getvoteofuser</url-pattern>
  </servlet-mapping>
</web-app>